.facts {
  background-color: $white;
  padding: 150px 118px 140px;

  @media (max-width: $desktop-width) {
    padding: 27px 90px 31px;
  }

  @media (max-width: $tablet-width) {
    padding: 28px 15px 38px;
  }
}

.facts__list {
  margin: 50px auto 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: $desktop-width) {
    margin-top: 30px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 20px;
    padding-top: 10px;
  }
}

.facts__item {
  display: grid;
  margin: 0 18px;

  @media (max-width: $desktop-width) {
    margin: 0 15px;
  }
}

.facts__text {
  display: inline-block;
  text-align: center;
  width: 265px;
  padding: 0px;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $black;
  margin: 14px 0;

  @media (max-width: $desktop-width) {
    width: 263px;
    margin-top: 16px;
    margin-bottom: 0;
    padding-bottom: 40px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 35px;
    font-size: 18px;  
    margin: 9px 0;
  }
}

.facts__number {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -1.27273px;
  color: $turquoise;
}