.form {
  justify-self: end;
  z-index: 2;
  top: 39%;
  left: 57.8%;
  position: absolute;

  @media (max-width: $desktop-width) {
    top: auto;
    left: auto;
    margin-top: 0;
    padding-top: 71px;
    display: grid;
    padding-bottom: 44px;
    position: relative;
  }

  @media (max-width: $tablet-width) {
    padding: 70px 15px 43px;
  }
}

.form__list {
  list-style: none;
  padding: 0;
  width: 327px;
  margin: 0;

  @media (max-width: $desktop-width) {
    margin: 0 auto;
    width: 320px;
  }

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.form__heading {
  display: inline-block;
  width: 327px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  margin: 0 0 20px 0;
  letter-spacing: -0.005em;

  @media (max-width: $desktop-width) {
    margin: 0 auto 30px;
    font-size: 18px;
    line-height: 28px;
    color: $black;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto 21px;
    width: auto;
  }
}

.form__list input {
  width: 327px;
  background-color: $white;
  border-radius: 6px;
  border: none;
  min-height: 48px;
  margin-bottom: 20px;
  padding: 0 29px;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  @media (max-width: $desktop-width) {
    outline: 1px solid $border-gray;
    width: 320px;
    padding: 0 20px;
  }

  @media (max-width: $tablet-width) {
    width: auto;
    margin: 0 auto 20px;
    min-width: 288px;
    padding: 0 24px;
  }
}

.form__list input:hover {
  opacity: 0.8;
}

.form__list input:focus {
  opacity: 1;
  outline: none;
}

.form__button{
  width: 327px;
  border-radius: 6px;
  border: none;
  min-height: 50px;
  text-align: center;
  margin-top: 0px;
  background-color: $turquoise;
  color: $black;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    margin: 0 auto;
    width: 320px;
  }

  @media (max-width: $tablet-width) {
    width: auto;
    min-width: 288px;

  }
}

.form__button:hover {
  opacity: 0.9;
}
