.page {
  margin: 0 auto;
  max-width: 1440px;
  scroll-behavior: smooth;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.page__body--hidden {
  overflow: hidden;
  height: 100vh;
}

.page h2 {
  display: block;
  padding: 0 100px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $heading-black;
  text-align: center;

  @media (max-width: $desktop-width) {
    font-size: 24px;
  }

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}
