.page-header {
  padding: 0;
  position: relative;
  min-height: 700px;
  padding-bottom: 150px;
  
  @media (max-width: $desktop-width) {
    width: auto;
    padding-bottom: 0px;
    min-height: 0;
  }
}

.page-header__container {
  width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "nav nav"
    "logo form"
    "head form"
    "head form";

  @media (max-width: $desktop-width) {
    width: auto;
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
  }
}

.page-header__logo {
  grid-area: logo;
  z-index: 3;
  margin-top: 256px;

  @media (max-width: $desktop-width-1300) {
    margin-top: 100px;
  }

  @media (max-width: $desktop-width) {
    margin-top: 25px;
    margin-left: 21px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 17px;
  }
}

.page-header__heding-container {
  width: 385px;
  grid-area: head;
  z-index: 2;

  @media (max-width: $desktop-width) {
    width: 525px;
    margin: 0 auto;
    display: grid;
    min-height: 295px;
  }

  @media (max-width: $tablet-width) {
    width: 320px;
    padding: 0 15px;
  }
}

.page-header__heading {
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  margin-bottom: 24px;

  @media (max-width: $desktop-width) {
    text-align: center;
    font-size: 30px;
    line-height: 42px;
    margin: 89px auto 20px; 
  }

  @media (max-width: $tablet-width) {
    margin-top: 75px;
  }
}

.page-header__discription {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: $white;
  opacity: 0.8;

  @media (max-width: $desktop-width) {
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    width: 435px;
    margin: 0 auto 80px;
  }

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.page-header__image {
  display: block;
  width: 100%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  z-index: 1;
  background-color: $header-background;
  
  @media (max-width: $tablet-width) {
    width: 319px;
    height: 390px;
  }
}

