.page-footer {
  padding: 30px 0 78px;

  @media (max-width: $desktop-width) {
    padding-bottom: 38px;
  }

  @media (max-width: $desktop-width) {
    padding: 30px 0 10px;
  }
}

.page-footer h2 {
  @media (max-width: $tablet-width) {
    font-size: 18px;
    padding: 0 15px;
  }
}

.page-footer p {
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: $black;
  opacity: 0.7;
  width: 555px;
  margin: 30px auto 41px;

  @media (max-width: $desktop-width) {
    width: 629px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    width: auto;
    margin-bottom: 20px;
    padding: 0 27px;
  }
}

.page-footer img {
  display: block;
  width: 957px;
  margin: 0 auto;
  background-color: $gray;

  @media (max-width: $desktop-width) {
    width: 698px;
    height: 545px;
    object-fit: cover;
  }

  @media (max-width: $tablet-width) {
    width: 320px;
    height: 250px;
  }
}

.page-footer__contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto 0;
  grid-template-columns: 1fr 1fr;
  width: 712px;
  padding: 0;

  @media (max-width: $desktop-width) {
    margin-top: 21px;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    width: auto;
    margin-top: 30px;
    padding: 0 15px;
  }
}

.page-footer__contacts-element {
  padding-left: 75px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    padding-left: 78px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
    margin: 0 auto 25px;
  }
}

.page-footer__contacts-element span {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $black;
  opacity: 50%;
  margin-left: 15px;
}

.page-footer__contacts-element:hover span {
  color: turquoise;
  opacity: 1;
}

.page-footer__contacts-element svg {
  display: inline-block;
  text-align: start;
  vertical-align: baseline;
}
