.page {
  margin: 0 auto;
  max-width: 1440px;
}

.page__heading {
  display: block;
  padding: 0 100px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $heading-black;
  text-align: center;

  @media (max-width: $desktop-width) {
    font-size: 24px;
    line-height: 30px;
  }
  @media (max-width: $tablet-width) {
    padding: 0;
    }
}

.page__heading--facts {
  @media (max-width: $desktop-width) {
  line-height: 41px;
  }
}

.page__heading--video {
    color: $white;
}