.video {
  padding: 120px;
    
  background: linear-gradient(to bottom, $background-black, $background-black 706px, $white 706px, $white);

  @media (max-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 40px;
    background: linear-gradient(to bottom, $background-black, $background-black 413px, $white 413px, $white);
  }

  @media (max-width: $tablet-width) {
    padding: 84px 15px 40px;
    background: linear-gradient(to bottom, $background-black, $background-black 384px, $white 384px, $white);
  
  }
}

.video__text {
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $white;
  opacity: 0.7;
  width: 340px;
  margin: 20px auto 56px;

  @media (max-width: $desktop-width) {
    width: 429px;
    margin-bottom: 40px;
  }

  @media (max-width: $tablet-width) {
    width: auto;
    margin-bottom: 52px;
  }
}

.video__image {
  display: block;
  width: 929px;
  margin: 0 auto;
  background-color: $black;

  @media (max-width: $desktop-width) {
  width: 503px;
  }
}

.video__container {
  position: relative;
  z-index: 2;
}

.video__button {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: turquoise;
  border: none;

  @media (max-width: $desktop-width) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: $tablet-width) {
    width: 65px;
    height: 65px;
  }
}

.video__button::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 51%;
  left: 55%;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 15px solid $black;
  border-bottom: 12px solid transparent;

  @media (max-width: $desktop-width) {
    border-left: 19px solid $black;
    left: 54%;
  }
}

.video__button:hover {
  width: 70px;
  height: 70px;
}

.video__button:hover::before {
  border-top: 14px solid transparent;
  border-left: 17px solid $black;
  border-bottom: 14px solid transparent;
} 